.table {
    font-family: Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
    position: Auto;
    background-color: rgb(190, 198, 196);
}

.table thead {
    width:100vw;
    position:relative;
    overflow:auto;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){
    background-color: rgb(124, 135, 142);}

.table th {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #339999;
    color: black;
}
